@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,500,700,900&display=swap');  /*add Google Font Montserrat normal for Body, Roboto 700 for Headings, 900 for jumbotron header*/
.bg-black {
	background-color: #000!important;
}
header {
	position: relative;
	background-color: black;
	height: 90vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}
/*Header Video from https://startbootstrap.com/snippets/video-header/ */
header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header .container {
	position: relative;
	z-index: 2;
}

header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
	header {
		background-color: black;
	}
	header video {
		display: none;
	}
}

body {
	font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto';
	font-weight: 700 !important;
}
h1 {
	font-weight: 900 !important;
}
@media screen and (max-width: 500px) {

	h5 {
		font-size: 32px;
	}
}
@media screen and (max-height: 450px) {
	.masthead-logo {
		max-width: 25%;
	}
}
@media screen and (min-height: 450px) {
	.masthead-logo {
		max-width: 33%;
	}
}
@media screen and (min-height: 600px) {
	.masthead-logo {
		max-width: 55%;
	}
}
.btn-xl {
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}
.rounded-pill {
	border-radius: 5rem;
}
html {
	scroll-behavior: smooth;
	background-color: black;
}
/* Solution from https://www.ostraining.com/blog/coding/responsive-google-maps/ */
.map-responsive{
	overflow:hidden;
	padding-bottom:52vh;
	position:relative;
	height:0;
}
.map-responsive iframe{
	left:0;
	top:0;
	height:50vh;
	width:100%;
	position:absolute;
}
footer {
	padding-bottom: 1vh;
}
section {
	padding-top: 60px;
	margin-top: -60px;
}

.masthead-logo {
	width: 55%;
}
.bg-quality {
	overflow: hidden;
	background:linear-gradient(0deg,rgba(23,162,184,0.8),rgba(23,162,184,0.8)),url(../img/facility/tristar-22.jpg);
	background-size: cover;
}